<div>
  <h1>On main page!</h1>
  <!-- controlled from src/main.js -->
</div>

<div class="question-previews" infinite-scroll="loadMore()" infinite-scroll-distance="0">
  <div class="question-preview" ng-repeat="question in questions" ng-model="question" ng-click="setSelected(question.questionid)">
  <!-- User can click individual question to populate page with question/answers, takes id from question object: src/main.js -->
 <suf-question-preview info="question"></suf-question-preview>
  </div>
</div>
