
<div class="questionsAndAnswers">
  On question page!
  <!-- Controlled from src/services/question.js -->

  <div class="originalQuestion" ng-model="question">
    <h4 class="questionTitle">{{ question.questiontitle }}</h4>
    <p>{{ question.questiontext }}</p>
    <div>
      <span>Asked by {{ question.user }} at </span><span am-time-ago="question.questiondate"></span>
    </div>
  </div>


  <div class="answers-bucket">

   <div class="all-answers">
     <div class="question" ng-repeat="answer in answers" ng-model="answer">
     <div class="answer" ng-repeat="answer in answers" ng-model="answer">
       <suf-answer info="answer"></suf-answer>
     </div>
   </div>

   <br>
   
    <form name="userInput">
      <label>
        Your answer:
        <br>
        <!-- suf-question-or-answer (/views/directiveViews/qOrA) is what Tim needs to build -->
        <suf-question-or-answer></suf-question-or-answer>
      </label>
      <!-- Get input text from form and questionid from question to insert into DB: src/question.js -->
      <button ng-click="submitAnswer(userInput, question.questionid)">Submit Answer</button>
    </form>

  </div>
</div>
