<div>
  <h1>Ask A Question</h1>
  <br>
  <form>
    <label>
      Please give your question a descriptive title:
      <br>
      <input type="text" ng-model="qTitle" name="qTitle" ng-maxLength="maxTitleLength" required>
    </label>

    <br>
    <br>

    <label>
      Ask your question:
      <br>
      <suf-question-or-answer></suf-question-or-answer>
    </label>
    <!-- submitQ in /src/submit.js, binds data from form -->
    <button ng-click="submitQ(qTitle, userInput)">Ask Question</button>
  </form>
</div>
