<!-- <div>Placeholder for Toolbar</div>
<p>This is where we will build out the tool that allows us to input code along with questions/answers</p>
<textarea ng-maxlength="maxAnswerLength" ng-model="userInput" required></textarea>

-->






<div>

  <div text-angular ta-target-toolbars="toolbar" ng-model="htmlcontent" name="qTitle" ng-maxLength="maxTitleLength" required></div>
  <div text-angular-toolbar class="toolbar" name="toolbar"></div>

  <br>

</div>
	</br>
		</br>
			</br>
				</br>

<div>
<a class="jsbin-embed" href="http://jsbin.com/iwovaj/74/embed?js,output">
    Simple Animation Tests</a>
<script src="http://static.jsbin.com/js/embed.js"></script>

</div>

